<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Shashikant Pathak||A Nodejs Developer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700%7CRoboto:400,700,300">
  <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.carousel.css">
  <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.css">
  <link rel="stylesheet" href="/vendor/animate.css/animate.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="shortcut icon" href="https://media.licdn.com/dms/image/C5103AQEbgpH6uBDYmA/profile-displayphoto-shrink_200_200/0?e=1548892800&v=beta&t=UZg1RAEW1fzohPk4Ncakxr7TlN7k0vG7sDEYP1WyKp0">
</head>
<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container"><a href="#intro" class="navbar-brand scrollTo">Shashikant</a>
      <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span class="fa fa-bars"></span></button>
      <div id="navbarcollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link link-scroll">Intro</a></li>
          <li class="nav-item"><a href="/about" class="nav-link link-scroll">About</a></li>
          <li class="nav-item"><a href="/work" class="nav-link link-scroll">My work</a></li>
          <li class="nav-item"><a href="/contact" class="nav-link link-scroll">Contact</a></li>
          <li class="nav-item"><a href="/admin/index" class="nav-link link-scroll">Admin</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<body>
  {{{body}}}
</body>
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-lg-left" style="margin-top:5px">
        <p class="social">
          <a href="https://www.facebook.com/scurezpathak" class="external facebook wow fadeInUp"><i class="fa fa-facebook"></i></a>
          <a href="https://www.linkedin.com/in/shashikantpathakk/" data-wow-delay="0.2s" class="external instagram wow fadeInUp"><i
              class="fa fa-linkedin"></i></a>
          <a href="#" data-wow-delay="0.4s" class="external gplus wow fadeInUp"><i class="fa fa-skype"></i></a>
      </div>
      <div class="col-md-6 text-center text-lg-right mt-4 mt-lg-0">
        <p>© 2018 Shashikant Pathak</p>
      </div>
    </div>
  </div>
</footer style="postion:absolute">
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper.js/umd/popper.min.js"> </script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="/vendor/jquery.counterup/jquery.counterup.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
<script src="/js/front.js"></script>
<script src="/js/main.js"></script>
<script src="handlebars/dist/handlebars.min.js"></script>
<script src="handlebars-intl/dist/handlebars-intl.min.js"></script>
</body>
</html>