<section id="about" class="about-section">
  <div class="container" style="min-height: 100vh;">
    <header class="text-center">
      <h2 data-animate="fadeInDown" class="title">About me</h2>
    </header>
    <div class="row">
      <div data-animate="fadeInUp" class="col-md-6">
        <form class="form" role="form" method="POST" id="form" action="#">
          <div class="row">
            <div class="col-md-12">
              <div class="profile-head">
                <ul class="nav nav-tabs" id="myTab" role="tablist" style="display:flex;">
                  <li class="nav-item">
                    <a class="nav-link active" style="min-width:100%" id="home-tab" data-toggle="tab" href="#profiledetails"
                      role="tab" aria-controls="home" aria-selected="true">Education</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="min-width:100%" id="profile-tab" data-toggle="tab" href="#connect" role="tab"
                      aria-controls="profile" aria-selected="false">
                      Achievments</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="min-width:100%" id="profile-tab" data-toggle="tab" href="#certification"
                      role="tab" aria-controls="profile" aria-selected="false">
                      Certifications</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active" id="profiledetails" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                  <div id="list2">
                    <ol>
                      <li>
                        <p><em>Bachelor of Electronics & Communication Engineering</em><em>Anna Univeristy,India</em></p>
                      </li>
                      <li>
                        <p><em>High School(+2)</em><em>National InfoTech H.S School, Nepal</em>.</p>
                      </li>
                      <li>
                        <p><em>School Leaving Certificate(SLC)</em><em>Shree Siddartha Secondary School,Nepal</em></p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="connect" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">

                  <div id="list2">
                    <ol>
                      <li>
                        <p><em>Zonal US Robo League Champion</em><em>Technophilia,India</em></p>
                      </li>
                      <li>
                        <p><em>3rd Rank in Prepared Speech,Toastmaster</em><em>BNY Mellon,India</em>.</p>
                      </li>
                      <li>
                        <p><em>Compex Scholarship</em><em>Edcil,India</em></p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="certification" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                  <div id="list2">
                    <ol>
                      <li>
                        <p><em>Node.js: Build Your First Microservice</em><em>Linkedin</em></p>
                      </li>
                      <li>
                        <p><em>Databases for Node.js Developers</em><em>Linkedin</em>.</p>
                      </li>
                      <li>
                        <p><em>Node.js: Real-Time Web with Socket.IO</em><em>Linkedin</em></p>
                      </li>
                      <li>
                        <p><em>Reactjs</em><em>Udemy</em></p>
                      </li>
                      <li>
                        <p><em>Core Java</em><em>LearnVern</em></p>
                      </li>
                      <li>
                        <p><em>Angularjs</em><em>LearnVern</em></p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div data-animate="fadeInUp" class="col-lg-6">
        <div class="skill-item">
          <div class="progress-title">Nodejs</div>
          <div class="progress">
            <div role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="60" aria-valuemax="100" class="progress-bar progress-bar-skill1"></div>
          </div>
        </div>
        <div class="skill-item">
          <div class="progress-title">Javascript</div>
          <div class="progress">
            <div role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="60" aria-valuemax="100" class="progress-bar progress-bar-skill2"></div>
          </div>
        </div>
        <div class="skill-item">
          <div class="progress-title">MongoDB</div>
          <div class="progress">
            <div role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-skill3"></div>
          </div>
        </div>
        <div class="skill-item">
          <div class="progress-title">Core Java</div>
          <div class="progress">
            <div role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-skill4"></div>
          </div>
        </div>
        <div class="skill-item">
          <div class="progress-title">Reactjs</div>
          <div class="progress">
            <div role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-skill5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>