<section id="intro" class="intro-section pb-2">
    <div class="container text-center">
        <h1 data-animate="fadeInDown" class="text-shadow mb-5">Hello,नमस्ते ! I am Shashikant Pathak</h1>
        <p data-animate="slideInUp" class="h3 text-shadow text-400">Nodejs Developer</p>
    </div>
</section>



